.navbar {
  background-color: #071013;
}

.navbar-brand {
  color: #f4ac45;
}

.navbar-brand:hover {
  color: #f4ac45;
  cursor: pointer;
}

.nav-item {
  color: #f4ac45;
  font-size: 1.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.nav-item:hover {
  opacity: 1;
  cursor: pointer;
}

.nav-item-active {
  opacity: 1;
}
